body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(15, 12, 26);
    flex-wrap: wrap;
}

label{
    color: ivory;
}

img{
    color: ivory;
    align-items: center;
}